/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.social-buttons-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
}
@media screen and (min-width: 768px) {
  .text-container {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .text-container {
    width: 50%;
  }
}
.heading {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.like-button {
  background-color: #eab308;
  color: #ffffff;
  margin: 5px;
}
.comment-button {
  background-color: #ffffff;
  color: #323f4b;
  margin: 5px;
}
.share-button {
  background-color: #391be0;
  color: #ffffff;
  margin: 5px;
}
